.body {
  float: left;
}

.contents {
  width: 80vw;
  height: 80vh;
  background-color: antiquewhite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}

#canvas {
  height: 480px;
  border: black solid 1px;
}

#canvas2 {
  position: absolute;
  pointer-events: none;
  border: black solid 1px;
}

.palette {
  width: 200px;
  height: 500px;
  right: 0;
  margin-left: 20px;
}

.color {
  width: 100%;
  height: 100px;
  display: flex;
}

#preview {
  width: 80px;
  height: 80px;
  background-color: black;
  border: gray solid 5px;
}

.fa-pencil-alt, .fa-fill-drip {
  font-size: 60px;
  margin: 10px 10px;
  cursor: pointer;
}

.fa-pencil-alt:active, .fa-fill-drip:active {
  margin: 18px 10px;
}

.fa-fill-drip {
  display: none;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  background: gray;
  height: 5px;
  width: 180px;
  margin: 0;
  top: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border: solid 4px black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.blocks {
  display: flex;
  margin-top: 20px;
}

.block {
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

#block1 { background-color: red; }
#block2 { background-color: rgb(255, 117, 0); }
#block3 { background-color: rgb(255, 255, 0); }
#block4 { background-color: rgb(0, 255, 0); }
#block5 { background-color: rgb(0, 255, 255); }
#block6 { background-color: rgb(0, 0, 255); }
#block7 { background-color: rgb(255, 0, 255); }
#block8 { background-color: rgba(255, 255, 255); }

.undo-redo {
  width: 100%;
  height: 55px;
  margin-top: 15px;
  display: flex;
}

.fa-reply, .fa-share, .fa-eye-dropper {
  font-size: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.fa-reply:active, .fa-share:active {
  margin-top: 5px;
}