.body {
  float: left;
}

button, input {
  background: none;
  border: none;
  outline: none;
}

.contents {
  width: 100vw;
  height: 100vh;
  background-color: rgb(37, 37, 37);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(128, 128, 128);
  display: flex;
}

.new {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  width: 256px;
  display: flex;
  flex-direction: column;
}

.new p {
  font-size: 14px;
  text-align: center;
}

.canvas-size {
  padding: 12px 0 12px 0;
  border-top: gray solid 1px;
  cursor: pointer;
}

.canvas-size:hover {
  background-color: rgb(196, 196, 196);
}

#canvas {
  height: 480px;
  border: black solid 1px;
}

#canvas2 {
  position: absolute;
  pointer-events: none;
  border: black solid 1px;
}

.palette {
  width: 200px;
  height: 500px;
  right: 0;
  margin-left: 20px;
}

.color {
  width: 100%;
  height: 100px;
  display: flex;
}

#preview {
  width: 80px;
  height: 80px;
  background-color: black;
  border: rgb(185, 185, 185) solid 5px;
}

.fa-pencil-alt, .fa-fill-drip {
  font-size: 60px;
  margin: 10px 10px;
  cursor: pointer;
}

.fa-pencil-alt:active, .fa-fill-drip:active {
  margin: 18px 10px;
}

.fa-fill-drip {
  display: none;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  background: white;
  height: 5px;
  width: 180px;
  margin: 0;
  top: 0;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: white;
  border: solid 4px black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.blocks {
  display: flex;
  margin-top: 20px;
}

.block {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#block1 { background-color: red; }
#block2 { background-color: rgb(255, 117, 0); }
#block3 { background-color: rgb(255, 255, 0); }
#block4 { background-color: rgb(0, 255, 0); }
#block5 { background-color: rgb(0, 255, 255); }
#block6 { background-color: rgb(0, 0, 255); }
#block7 { background-color: rgb(255, 0, 255); }
#block8 { background-color: rgba(255, 255, 255); }

.undo-redo {
  width: 100%;
  height: 55px;
  margin-top: 15px;
  display: flex;
}

.fa-reply, .fa-share {
  font-size: 50px;
  margin-right: 10px;
  cursor: pointer;
}

.fa-eye-dropper {
  font-size: 45px;
  margin-right: 20px;
  cursor: pointer;
}

.fa-reply:active, .fa-share:active {
  margin-top: 5px;
}

#clear {
  width: 180px;
  text-align: center;
  background-color: rgb(83, 83, 83);
  color: white;
}

#clear:hover {
  background-color: rgb(63, 63, 63);
}